<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!-- Include Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* CSS to set a fixed height for card images */
        .card-img-top {
            height: 200px; /* Adjust the height as needed */
            object-fit: cover; /* Ensure the image covers the fixed height */
        }
    </style>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/categories">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/items">Items</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Content -->
<div class="container mt-4">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="row">
        <% items.forEach((item) => { %>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <!-- Display item image if available -->
                    <% if (item.image) { %>
                        <img src="<%= item.image %>" class="card-img-top" alt="<%= item.name %> Image">
                    <% } %>
                    <div class="card-body">
                        <h5 class="card-title"><%= item.name %></h5>
                        <p class="card-text"><%= item.description %></p>
                        <p class="card-text"><strong>Price:</strong> $<%= item.price %></p>
                        <p class="card-text"><strong>Quantity:</strong> <%= item.qty %></p>
                        <p class="card-text"><strong>Manufacturer:</strong> <%= item.manufacturer %></p>
<!--                        add category with its url-->
                        <p class="card-text"><strong>Category:</strong> <a href="/categories/<%= item.category.id %>"><%= item.category.name %></a></p>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<!-- Include Bootstrap JavaScript (Optional) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
